<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>démo 5BDDD</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="démo 5BDDD">
    <!--<link rel="stylesheet" href="/assets/css/stylesheet.css?v=1">-->
</head>

<body>
    <h1>User [{{user.id}}] created, email: {{user.email}} !</h1>
    <div></div>

    <h3>Users</h3>
    {%for user in users%}
    <li>User {{user}}</li>
    {%endfor%}

    <script>
    </script>
</body>
</html>